body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

  /* font: normal 16px 'Roboto', sans-serif; */

  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: gray;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}

.info {
  margin-bottom: 20px;
  margin: auto;
  display: flex;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: ; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}

/* BOX MODEL */
.conteiner {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}


/* .social {
  background: green;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 30px;
  margin: 5px;

  border: 5px solid red;
  border-bottom-style: dotted;
  border-right-color: blue;
  border-top-width: 15px;
} */

/* .box-model > div {
  float: left;
  background: #0f141e;
  height: 200px;
  border: 4px solid red;
  box-sizing: border-box;
  width: 25%;
} */

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 2px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li{
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2)
.table td:nth-child(3) {
  color: #86898f;
}

.table tr:nth-child(even) {
  background: red;
}

.link-list {
  list-style: none;
  padding: 0;

}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact {
  text-align: center;

}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0px;
}

.btn {
  background: #000;
  padding: 15x 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;

}

/* position */

/* .position {
  position: relative;
 border: 4px solid black;
 margin-top: 40px;
 padding: 20px;
 height: 300px;
}

.box {
  position: fixed;
  bottom: 50px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: lightcoral;
} */